@font-face {
    font-family: 'Baguette';
    src: url('Baguette.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Paradise Thin Demo';
    src: url('ParadiseThinDemoRegular.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

