@use './styles/partials/variables';
@use './styles/partials/fonts';
@use './styles/partials/mixins';

body {
 
  margin: 0;
  font-family: 'Roboto Slab';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  scroll-margin-top: 76px;
}


