@font-face {
    font-family: 'Libre Baskerville';
    src: url('../Assets/Fonts/transfonter.org-20221001-183258/LibreBaskerville-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Libre Baskerville';
    src: url('../Assets/Fonts/transfonter.org-20221001-183258/LibreBaskerville-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Libre Baskerville';
    src: url('../Assets/Fonts/transfonter.org-20221001-183258/LibreBaskerville-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
